@media screen and (min-width: 1440px) {
	.tw-xl-hide {
		display: none !important;
	}
}

.bd--deck-list {
	overflow-x: auto;
	overflow-y: hidden;

	&.bd-vertical {
		width: 100%;
		overflow-x: hidden;
		overflow-y: auto;
	}

	.preview-card .preview-card-overlay {
		pointer-events: all;
	}
}


.bd-shelf-status-indicator {
	height: .8rem;
	width: .8rem;
	display: inline-block;
	position: relative;
	border-radius: var(--border-radius-rounded);
	background-color: var(--color-fill-live);
}

.bd--deck, .ffz__tooltip {
	.preview-card-stat--live {
		background-color: var(--color-fill-live) !important;
		color: var(--color-text-overlay) !important;
	}
}

.bd--deck .stream-type-indicator__hosting-dot {
	background: #ffca61;
	height: .8rem;
	margin: 0 .2rem;
	width: .8rem;
}

.bd--deck-controls {
	z-index: 1000;
}

.deck-card-titles__subtitle-wrapper {
	margin-top: .3rem
}

.deck-card__titles-wrapper {
	min-width: 0
}

.deck-card-iconic-image__wrapper {
	width: 4rem;
}

.side-nav:not(.side-nav--expanded) .bd--shelf-expanded,
.side-nav--expanded .bd--shelf-collapsed {
	display: none !important;
}

.side-nav:not(.side-nav--expanded) {
	.loading {
		font-size: var(--font-size-3);

		& + div {
			display: none;
		}
	}
}

.bd--deck-scroller {
	position: relative;
	overflow: hidden;
	height: calc(calc(100% - 5.6rem) - 1px);

	.bd--top-link {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		z-index: 1;
		cursor: pointer;

		&.bd--top-link--left {
			right: 50%;
		}

		&.bd--top-link--right {
			left: 50%;
		}

		&:not(:hover):not(:focus) {
			opacity: 0.75;
		}
	}

	.simplebar-scroll-content {
		margin-right: -17px !important;
	}
}

.bd--channel-selector,
.bd--category-selector,
.bd--tag-selector {
	.tw-root--theme-dark &,
	& {
		.ffz--autocomplete input {
			border-bottom-left-radius: 0 !important;
			border-bottom-right-radius: 0 !important;
		}

		.bd--category-selector__list,
		.bd--channel-selector__list,
		.bd--tag-selector__list {
			border-top-left-radius: 0 !important;
			border-top-right-radius: 0 !important;
		}
	}
}


.bd--appear-enter-active,
.bd--appear-leave-active {
	transition-property: transform, opacity;
	transition-timing-function: ease;
	transition-delay: 0;
	transition-duration: 250ms;
}

.bd--appear-enter,
.bd--appear-leave-to {
	opacity: 0;
	transform: scaleX(0)
}


.bd--hidden-item {
	opacity: 0.5;
	transition: opacity 250ms ease;
	&:hover, &:focus {
		opacity: 1;
	}
}


.bd--slide-down-enter-active,
.bd--slide-down-leave-active {
	transition: top .25s;
}

.bd-column-select-menu {
	max-height: calc(100vh - 10rem);
}

.bd--slide-down-enter,
.bd--slide-down-leave-to {
	top: -3rem !important;
}

.bd--deck-add {
	width: 30rem;
}

.bd--column-editor,
.bd--tab-editor {
	.handle {
		cursor: move;
	}

	label {
		min-width: 10rem;
	}

	.bd-checkbox--indent {
		margin-left: 10rem !important;

		label {
			padding-left: 2.6rem;
		}
	}

	.bd-checkbox--label-indent {
		padding-left: 2.6rem;
	}
}

.bd--deck-modal {
	position: absolute;
	z-index: 1000;
	top: 0; left: 0;
	right: 0; bottom: 0;
	background-color: rgba(127,127,127,0.5);

	.bd-modal {
		min-width: 60rem;

		section > .scrollable-area {
			max-height: calc(100vh - 20rem);
		}
	}
}

.preview-card-thumbnail__image iframe {
	pointer-events: none;
	aspect-ratio: 16/9;
}

.bd--animated-card {
	.preview-card-thumbnail__image img {
		animation: preview-card-thumbnail__movement 6s steps(10) infinite;
	}
}

.bd--deck-column {
	--columns: 1;

	.bd--column-setting-scroller {
		height: auto;
		max-height: 100%;
	}

	.bd--column-header {
		cursor: move;
		position: relative;

		button {
			pointer-events: all;
		}
	}

	--width: 30rem;
	&.bd-wide { --width: 40rem; }
	&.bd-narrow { --width: 20rem; }

	--column-width: calc(var(--columns) * calc(var(--width) + 1rem) + 1rem);

	&:not(.collapsed) {
		&:not(.vertical) .simplebar-content {
			width: var(--column-width);
		}

		&.vertical {
			width: calc(100% - 3rem);
			height: calc(5rem + calc(var(--columns) * calc(var(--width) / 1.1)));
		}

		.simplebar-content {
			display: flex;
			flex-wrap: wrap;
			align-content: flex-start;
		}

		.bd--width {
			width: calc(var(--column-width) - 2rem);
		}

		//.bd--width,
		.bd--column-header > div,
		.preview-card {
			width: var(--width);
		}

		.column-avatar {
			margin-top: -1.2rem;
			margin-bottom: -1rem;
			max-width: 4rem;
		}

		.column-icon {
			margin-top: -.3rem;
			margin-bottom: -.3rem;
		}
	}

	&.collapsed:not(.vertical) {
		writing-mode: vertical-lr;
	}
}

.bd--column-progress,
.bd--hover-progress {
	position: absolute;
	left: 0;
	right: 0;
	width: unset !important;

	.ffz-progress-bar {
		height: 0.3rem;
	}
}

.bd--column-progress { bottom: 0; }
.bd--hover-progress {
	top: 0;

	.ffz-progress-bar__fill {
		width: 100%;
	}
}

.bd--hover-progress-enter-active {
	.ffz-progress-bar__fill {
		width: 0%;
	}
}


.bd--art-column {
	.bd--column-cover {
		pointer-events: none;
		height: 6rem;
		background-color: #000;
		background-position: center center;
		background-size: cover;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;

		.tw-root--theme-dark & {
			background-color: #fff;
		}

		.bd--fader {
			position: absolute;
			top: 0; left: 0;
			right: 0; bottom: 0;
			content: '';
			background: linear-gradient(0deg,var(--color-background-alt) 0,rgba(250,249,250,.9) 25%,rgba(250,249,250,.3));

			.tw-root--theme-dark & {
				background: linear-gradient(0deg,var(--color-background-alt) 0,rgba(15,14,17,.9) 25%,rgba(15,14,17,.3));
			}

			background: linear-gradient(
				0deg,
				var(--color-background-alt) 0,
				color-mix(in srgb, var(--color-background-alt) 90%, transparent) 25%,
				color-mix(in srgb, var(--color-background-alt) 30%, transparent)
			) !important;
		}
	}

	.bd--column-header .bd--header-text {
		text-shadow: .1rem .1rem .2rem #fff,
			-.1rem -.1rem .2rem #fff;

		.tw-root--theme-dark & {
			text-shadow: .1rem .1rem .2rem #000;
		}
	}

	.bd--deck-scroller {
		background-color: transparent !important;
	}
}

.bd--host-menu {
	z-index: 10000;

	.scrollable-area {
		max-height: 25vh;
	}
}

.bd--host-menu--avatar {
	width: 3rem;
}

.bd--error-log {
	font-family: monospace;
	white-space: pre-wrap;
	word-break: break-all;
	text-align: left;
}

.bd--sidebar {
	.side-nav--expanded & {
		.side-nav-card__link {
			height: unset;
		}
	}

	.bd--shelf:first-child {
		.side-nav-header.bd--shelf-expanded {
			margin-right: 5rem !important;
		}
	}

	.side-nav-header {
		h5 {
			font-size: var(--font-size-6) !important;
			font-weight: var(--font-weight-semibold) !important;
			text-transform: uppercase !important;
		}
	}

	a:hover {
		text-decoration: none !important;
	}
}

.side-bar-contents .ffz-has-dialog {
	.ffz-dialog.maximized {
		position: relative;
		top: unset !important;
		left: unset !important;
		height: unset !important;
	}

	& > .side-nav-section:not(.online-friends) {
		display: none !important;
	}

	.online-friends {
		visibility: unset;
	}
}