name: Test Build

on: [pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1

    - name: Uses PNPM
      uses: pnpm/action-setup@v2.0.1
      with:
        version: 6.20.4

    - name: Use Node.js 16.x
      uses: actions/setup-node@v2
      with:
        node-version: '16.x'
        cache: 'pnpm'

    - name: Install Dependencies
      run: pnpm install

    - name: Build
      run: pnpm build

    - name: Archive Build
      uses: actions/upload-artifact@v3
      with:
        name: dist
        path: |
          dist
